#startBtn {
    -fx-background-image: url("../../assets/pictures/gui_pics/Button/BtnNormal.png");
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-pref-width: 480px;
    -fx-pref-height: 132px;
}

#startBtn:hover {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/BtnHover.png);
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-pref-width: 480px;
    -fx-pref-height: 132px;
}

#startBtn:pressed {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/BtnClicked.png);
    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-pref-width: 480px;
    -fx-pref-height: 132px;
}

#normBtn {
    -fx-background-image: url("../../assets/pictures/gui_pics/Button/BtnNormal.png");
    -fx-background-size: 307px 91px;
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-pref-width: 307px;
    -fx-pref-height: 91px;
}

#normBtn:hover {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/BtnHover.png);
    -fx-background-size: 307px 91px;
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-pref-width: 307px;
    -fx-pref-height: 91px;
}

#normBtn:pressed {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/BtnClicked.png);
    -fx-background-size: 307px 91px;
    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-pref-width: 307px;
    -fx-pref-height: 91px;
}

#exitBtn {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/ExitBtnNormal.png);
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

#exitBtn:hover {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/ExitBtnHover.png);
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

#exitBtn:pressed {
    -fx-background-image: url(../../assets/pictures/gui_pics/Button/ExitBtnClicked.png);
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

#assassinBtn {
    -fx-background-image: url(../../assets/pictures/gui_pics/Avatar/AssassinBtn.png);
    -fx-background-size: 150px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

#knightBtn {
    -fx-background-image: url(../../assets/pictures/gui_pics/Avatar/knightBtn.png);
    -fx-background-size: 150px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

#mageBtn {
    -fx-background-image: url(../../assets/pictures/gui_pics/Avatar/MageBtn.png);
    -fx-background-size: 150px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

#orcBtn {
    -fx-background-image: url(../../assets/pictures/gui_pics/Avatar/OrcBtn.png);
    -fx-background-size: 150px;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

.check-box .box {
     -fx-background-image: url(../../assets/pictures/gui_pics/checkbtn/box.png);
     -fx-background-size: 57px 54px;
     -fx-background-color: transparent;
     -fx-pref-width: 57px;
     -fx-pref-height: 54px;
 }

.check-box .mark {
    -fx-background-image: url(../../assets/pictures/gui_pics/checkbtn/norm2.png);
    -fx-shape: "M0,0L30,0L30,28L0,28L0,0";
    -fx-background-size: 57px 54px;
    -fx-background-color: transparent;
    -fx-pref-width: 57px;
    -fx-pref-height: 54px;
}

.check-box:hover .mark {
    -fx-background-image: url(../../assets/pictures/gui_pics/checkbtn/hover2.png);
    -fx-shape: "M0,0L30,0L30,28L0,28L0,0";
    -fx-background-size: 57px 54px;
    -fx-background-color: transparent;
    -fx-pref-width: 57px;
    -fx-pref-height: 54px;
}

.check-box:pressed .mark {
    -fx-background-image: url(../../assets/pictures/gui_pics/checkbtn/pressed2.png);
    -fx-shape: "M0,0L30,0L30,28L0,28L0,0";
    -fx-background-size: 57px 54px;
    -fx-background-color: transparent;
    -fx-pref-width: 57px;
    -fx-pref-height: 54px;
}

.check-box:selected .mark {
    -fx-background-image: url(../../assets/pictures/gui_pics/checkbtn/selected2.png);
    -fx-shape: "M0,0L30,0L30,28L0,28L0,0";
    -fx-background-size: 57px 54px;
    -fx-background-color: transparent;
    -fx-pref-width: 57px;
    -fx-pref-height: 54px;
}

.progress-bar > .track {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}

#health > .bar {
    -fx-background-image: url(../../assets/pictures/gui_pics/Avatar/heathBar4.png);
    -fx-background-color: transparent;
}